body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: black;
  color: white;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 28.2582216809%;
  left: 49.9510284035%;
  font-size: 21px;
  filter: blur(0.02px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(2) {
  top: 83.9024390244%;
  left: 39.2156862745%;
  font-size: 20px;
  filter: blur(0.04px);
  animation: 28s float2 infinite;
}
.particle:nth-child(3) {
  top: 59.8039215686%;
  left: 18.7007874016%;
  font-size: 16px;
  filter: blur(0.06px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(4) {
  top: 43.137254902%;
  left: 78.7401574803%;
  font-size: 16px;
  filter: blur(0.08px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(5) {
  top: 52.3636363636%;
  left: 80.9756097561%;
  font-size: 25px;
  filter: blur(0.1px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(6) {
  top: 95.4933008526%;
  left: 62.6836434868%;
  font-size: 21px;
  filter: blur(0.12px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(7) {
  top: 77.5757575758%;
  left: 74.1463414634%;
  font-size: 25px;
  filter: blur(0.14px);
  animation: 36s float2 infinite;
}
.particle:nth-child(8) {
  top: 88.1272949816%;
  left: 1.9665683382%;
  font-size: 17px;
  filter: blur(0.16px);
  animation: 26s float2 infinite;
}
.particle:nth-child(9) {
  top: 78.527607362%;
  left: 43.3497536946%;
  font-size: 15px;
  filter: blur(0.18px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(10) {
  top: 37.6357056695%;
  left: 46.6472303207%;
  font-size: 29px;
  filter: blur(0.2px);
  animation: 22s floatReverse infinite;
}
.particle:nth-child(11) {
  top: 7.7858880779%;
  left: 6.8493150685%;
  font-size: 22px;
  filter: blur(0.22px);
  animation: 22s float infinite;
}
.particle:nth-child(12) {
  top: 81.2575574365%;
  left: 46.7380720545%;
  font-size: 27px;
  filter: blur(0.24px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(13) {
  top: 45.7978075518%;
  left: 93.0460333007%;
  font-size: 21px;
  filter: blur(0.26px);
  animation: 33s float2 infinite;
}
.particle:nth-child(14) {
  top: 64.1555285541%;
  left: 5.8651026393%;
  font-size: 23px;
  filter: blur(0.28px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(15) {
  top: 84.8192771084%;
  left: 28.1553398058%;
  font-size: 30px;
  filter: blur(0.3px);
  animation: 26s float2 infinite;
}
.particle:nth-child(16) {
  top: 12.8078817734%;
  left: 92.8853754941%;
  font-size: 12px;
  filter: blur(0.32px);
  animation: 22s float2 infinite;
}
.particle:nth-child(17) {
  top: 7.7953714982%;
  left: 54.8481880509%;
  font-size: 21px;
  filter: blur(0.34px);
  animation: 24s float2 infinite;
}
.particle:nth-child(18) {
  top: 11.7647058824%;
  left: 91.5354330709%;
  font-size: 16px;
  filter: blur(0.36px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(19) {
  top: 79.2270531401%;
  left: 1.9455252918%;
  font-size: 28px;
  filter: blur(0.38px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(20) {
  top: 79.2270531401%;
  left: 33.0739299611%;
  font-size: 28px;
  filter: blur(0.4px);
  animation: 26s float2 infinite;
}
.particle:nth-child(21) {
  top: 13.6919315403%;
  left: 36.3457760314%;
  font-size: 18px;
  filter: blur(0.42px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(22) {
  top: 45.7978075518%;
  left: 87.1694417238%;
  font-size: 21px;
  filter: blur(0.44px);
  animation: 35s float infinite;
}
.particle:nth-child(23) {
  top: 85.0855745721%;
  left: 64.8330058939%;
  font-size: 18px;
  filter: blur(0.46px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(24) {
  top: 11.7216117216%;
  left: 86.3591756624%;
  font-size: 19px;
  filter: blur(0.48px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(25) {
  top: 30.5418719212%;
  left: 32.6086956522%;
  font-size: 12px;
  filter: blur(0.5px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(26) {
  top: 70.4463208685%;
  left: 69.970845481%;
  font-size: 29px;
  filter: blur(0.52px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(27) {
  top: 45.5205811138%;
  left: 95.5165692008%;
  font-size: 26px;
  filter: blur(0.54px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(28) {
  top: 25.1207729469%;
  left: 14.5914396887%;
  font-size: 28px;
  filter: blur(0.56px);
  animation: 38s float infinite;
}
.particle:nth-child(29) {
  top: 51.5815085158%;
  left: 0.9784735812%;
  font-size: 22px;
  filter: blur(0.58px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(30) {
  top: 8.8779284834%;
  left: 6.9238377844%;
  font-size: 11px;
  filter: blur(0.6px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(31) {
  top: 31.2958435208%;
  left: 43.2220039293%;
  font-size: 18px;
  filter: blur(0.62px);
  animation: 38s float infinite;
}
.particle:nth-child(32) {
  top: 81.9512195122%;
  left: 80.3921568627%;
  font-size: 20px;
  filter: blur(0.64px);
  animation: 24s float2 infinite;
}
.particle:nth-child(33) {
  top: 73.696969697%;
  left: 87.8048780488%;
  font-size: 25px;
  filter: blur(0.66px);
  animation: 33s float infinite;
}
.particle:nth-child(34) {
  top: 36.2301101591%;
  left: 0.9832841691%;
  font-size: 17px;
  filter: blur(0.68px);
  animation: 29s float infinite;
}
.particle:nth-child(35) {
  top: 42.5120772947%;
  left: 15.5642023346%;
  font-size: 28px;
  filter: blur(0.7px);
  animation: 28s float2 infinite;
}
.particle:nth-child(36) {
  top: 6.7796610169%;
  left: 43.8596491228%;
  font-size: 26px;
  filter: blur(0.72px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(37) {
  top: 59.186189889%;
  left: 24.727992087%;
  font-size: 11px;
  filter: blur(0.74px);
  animation: 27s float2 infinite;
}
.particle:nth-child(38) {
  top: 94.5188794153%;
  left: 30.3623898139%;
  font-size: 21px;
  filter: blur(0.76px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(39) {
  top: 23.4718826406%;
  left: 5.8939096267%;
  font-size: 18px;
  filter: blur(0.78px);
  animation: 35s float2 infinite;
}
.particle:nth-child(40) {
  top: 95.4489544895%;
  left: 88.8450148075%;
  font-size: 13px;
  filter: blur(0.8px);
  animation: 24s float2 infinite;
}
.particle:nth-child(41) {
  top: 7.8431372549%;
  left: 22.6377952756%;
  font-size: 16px;
  filter: blur(0.82px);
  animation: 31s float infinite;
}
.particle:nth-child(42) {
  top: 43.3734939759%;
  left: 78.640776699%;
  font-size: 30px;
  filter: blur(0.84px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(43) {
  top: 10.8508014797%;
  left: 41.5430267062%;
  font-size: 11px;
  filter: blur(0.86px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(44) {
  top: 50.7936507937%;
  left: 7.8508341511%;
  font-size: 19px;
  filter: blur(0.88px);
  animation: 36s float2 infinite;
}
.particle:nth-child(45) {
  top: 75.6363636364%;
  left: 62.4390243902%;
  font-size: 25px;
  filter: blur(0.9px);
  animation: 34s float infinite;
}
.particle:nth-child(46) {
  top: 49.9388004896%;
  left: 54.0806293019%;
  font-size: 17px;
  filter: blur(0.92px);
  animation: 25s floatReverse infinite;
}
.particle:nth-child(47) {
  top: 96.5853658537%;
  left: 37.2549019608%;
  font-size: 20px;
  filter: blur(0.94px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(48) {
  top: 31.0303030303%;
  left: 41.9512195122%;
  font-size: 25px;
  filter: blur(0.96px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(49) {
  top: 58.5365853659%;
  left: 85.2941176471%;
  font-size: 20px;
  filter: blur(0.98px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(50) {
  top: 90.7317073171%;
  left: 24.5098039216%;
  font-size: 20px;
  filter: blur(1px);
  animation: 39s float infinite;
}
.particle:nth-child(51) {
  top: 45.3201970443%;
  left: 21.7391304348%;
  font-size: 12px;
  filter: blur(1.02px);
  animation: 22s float infinite;
}
.particle:nth-child(52) {
  top: 40.4438964242%;
  left: 51.434223541%;
  font-size: 11px;
  filter: blur(1.04px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(53) {
  top: 34.9090909091%;
  left: 48.7804878049%;
  font-size: 25px;
  filter: blur(1.06px);
  animation: 31s float2 infinite;
}
.particle:nth-child(54) {
  top: 87.2549019608%;
  left: 82.6771653543%;
  font-size: 16px;
  filter: blur(1.08px);
  animation: 26s float infinite;
}
.particle:nth-child(55) {
  top: 91.2883435583%;
  left: 44.3349753695%;
  font-size: 15px;
  filter: blur(1.1px);
  animation: 37s float2 infinite;
}
.particle:nth-child(56) {
  top: 24.2130750605%;
  left: 52.6315789474%;
  font-size: 26px;
  filter: blur(1.12px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(57) {
  top: 60.0484261501%;
  left: 66.2768031189%;
  font-size: 26px;
  filter: blur(1.14px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(58) {
  top: 80.0976800977%;
  left: 25.5152109912%;
  font-size: 19px;
  filter: blur(1.16px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(59) {
  top: 15.7829839704%;
  left: 90.0098911968%;
  font-size: 11px;
  filter: blur(1.18px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(60) {
  top: 10.7055961071%;
  left: 43.0528375734%;
  font-size: 22px;
  filter: blur(1.2px);
  animation: 39s float infinite;
}
.particle:nth-child(61) {
  top: 80.195599022%;
  left: 19.6463654224%;
  font-size: 18px;
  filter: blur(1.22px);
  animation: 36s float infinite;
}
.particle:nth-child(62) {
  top: 38.282208589%;
  left: 73.8916256158%;
  font-size: 15px;
  filter: blur(1.24px);
  animation: 38s float2 infinite;
}
.particle:nth-child(63) {
  top: 37.1638141809%;
  left: 41.257367387%;
  font-size: 18px;
  filter: blur(1.26px);
  animation: 28s float infinite;
}
.particle:nth-child(64) {
  top: 68.4596577017%;
  left: 76.6208251473%;
  font-size: 18px;
  filter: blur(1.28px);
  animation: 22s float2 infinite;
}
.particle:nth-child(65) {
  top: 26.5682656827%;
  left: 83.9091806515%;
  font-size: 13px;
  filter: blur(1.3px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(66) {
  top: 96.1963190184%;
  left: 51.2315270936%;
  font-size: 15px;
  filter: blur(1.32px);
  animation: 28s float infinite;
}
.particle:nth-child(67) {
  top: 69.7788697789%;
  left: 94.674556213%;
  font-size: 14px;
  filter: blur(1.34px);
  animation: 25s floatReverse infinite;
}
.particle:nth-child(68) {
  top: 37.6811594203%;
  left: 8.7548638132%;
  font-size: 28px;
  filter: blur(1.36px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(69) {
  top: 46.4328899637%;
  left: 91.5287244401%;
  font-size: 27px;
  filter: blur(1.38px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(70) {
  top: 12.5603864734%;
  left: 90.46692607%;
  font-size: 28px;
  filter: blur(1.4px);
  animation: 22s float infinite;
}
.particle:nth-child(71) {
  top: 43.3497536946%;
  left: 34.5849802372%;
  font-size: 12px;
  filter: blur(1.42px);
  animation: 32s float2 infinite;
}
.particle:nth-child(72) {
  top: 38.7878787879%;
  left: 81.9512195122%;
  font-size: 25px;
  filter: blur(1.44px);
  animation: 34s float2 infinite;
}
.particle:nth-child(73) {
  top: 13.6752136752%;
  left: 77.5269872424%;
  font-size: 19px;
  filter: blur(1.46px);
  animation: 39s floatReverse2 infinite;
}
.particle:nth-child(74) {
  top: 80.9756097561%;
  left: 78.431372549%;
  font-size: 20px;
  filter: blur(1.48px);
  animation: 24s float2 infinite;
}
.particle:nth-child(75) {
  top: 31.067961165%;
  left: 81.0546875%;
  font-size: 24px;
  filter: blur(1.5px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(76) {
  top: 56.6544566545%;
  left: 24.5338567223%;
  font-size: 19px;
  filter: blur(1.52px);
  animation: 40s float infinite;
}
.particle:nth-child(77) {
  top: 27.6202219482%;
  left: 84.0751730959%;
  font-size: 11px;
  filter: blur(1.54px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(78) {
  top: 82.5552825553%;
  left: 93.6883629191%;
  font-size: 14px;
  filter: blur(1.56px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(79) {
  top: 35.8353510896%;
  left: 85.7699805068%;
  font-size: 26px;
  filter: blur(1.58px);
  animation: 39s float2 infinite;
}
.particle:nth-child(80) {
  top: 94.1176470588%;
  left: 61.0236220472%;
  font-size: 16px;
  filter: blur(1.6px);
  animation: 25s float2 infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}

/*# sourceMappingURL=404.css.map */
