@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
* {
  font-family: "DM mono", monospace;
  color: #ffffff;
}

body {
  background-color: #11141a;
  font-size: 20px;
  margin: 0px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  justify-content: space-between;
}
body.neon {
  background-color: #3F0071;
}
body.green {
  background-color: #557153;
}

.qhover {
  cursor: help;
  text-decoration: underline dotted;
}

main {
  margin: 0 5px 0 5px;
}
main .section {
  margin: 0 10px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
footer .foot {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  width: max-content;
  align-items: center;
}
@media screen and (max-width: 659px) {
  footer .foot {
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
  }
}
@media screen and (max-width: 659px) and (max-height: 883px) {
  footer .foot {
    flex-direction: column;
    align-items: center;
    margin-bottom: -75px;
    gap: 5px;
  }
}
@media screen and (max-width: 659px) and (max-height: 760px) {
  footer .foot {
    flex-direction: column;
    align-items: center;
    margin-bottom: -150px;
    gap: 5px;
  }
}
@media screen and (max-width: 659px) and (max-height: 686px) {
  footer .foot {
    flex-direction: column;
    align-items: center;
    margin-bottom: -275px;
    gap: 5px;
  }
}
@media screen and (max-width: 659px) {
  footer .foot.project-footer {
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
  }
}
@media screen and (max-width: 659px) and (max-height: 926px) {
  footer .foot.project-footer {
    position: absolute;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: -250px;
    gap: 5px;
  }
}
@media screen and (max-width: 659px) and (max-height: 854px) {
  footer .foot.project-footer {
    position: absolute;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: -400px;
    gap: 5px;
  }
}
@media screen and (max-width: 659px) and (max-height: 667px) {
  footer .foot.project-footer {
    position: absolute;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: -500px;
    gap: 5px;
  }
}
footer .foot .patreon {
  display: flex;
  align-items: center;
}
footer .foot .patreon .heart-gif {
  width: 50px;
  height: 50px;
}

h1 {
  font-size: 35px;
  word-wrap: break-word;
}

.contacts {
  display: grid;
  grid-template-areas: "gmail id" "youtube channel" "discord server" "github user" "insta tag" "twitter at" "tumblr blog";
  width: max-content;
}
.contacts .item {
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.top-bar {
  background-color: #202029;
  width: 100%;
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.top-bar.neon {
  background-color: #4e0d83;
}
.top-bar.green {
  background-color: #475f45;
}
.top-bar .topb {
  background-color: #333333;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  width: 150px;
  height: 60px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
  transition: all 0.3s ease-in-out;
}
.top-bar .topb.neon {
  background-color: #FB2576;
}
.top-bar .topb.neon:hover {
  background-color: #1b35ca;
}
.top-bar .topb.green {
  background-color: #7D8F69;
}
.top-bar .topb.green:hover {
  background-color: #A9AF7E;
}
.top-bar .topb:hover {
  background-color: #6264a3;
}
.top-bar .topba {
  background-color: #6264a3;
  transition: background-color 0.3s ease-in-out;
}
.top-bar .topba.neon {
  background-color: #1b35ca;
}
.top-bar .topba.neon:hover {
  background-color: #3b6fe0;
}
.top-bar .topba.green {
  background-color: #A9AF7E;
}
.top-bar .topba.green:hover {
  background-color: #E6E5A3;
}
.top-bar .topba:hover {
  background-color: #7376b8;
}
.top-bar .site-colours {
  background-color: #6264a3;
  border-radius: 100%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
  float: right;
  transition: background-color 0.3s ease-in-out;
}
.top-bar .site-colours:hover {
  background-color: #7376b8;
}
.top-bar .site-colours.neon {
  background-color: #1b35ca;
}
.top-bar .site-colours.neon:hover {
  background-color: #3b6fe0;
}
.top-bar .site-colours.green {
  background-color: #A9AF7E;
}
.top-bar .site-colours.green:hover {
  background-color: #E6E5A3;
}

.borgir {
  position: fixed;
  width: 40px;
  cursor: pointer;
  display: none;
  right: 0;
  margin: 10px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}
.borgir .bar, .borgir:before, .borgir:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: 0.4s;
}
.borgir.active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.borgir.active .bar {
  opacity: 0;
}
.borgir.active:after {
  transform: rotate(45deg) translate(-8px, -4.5px);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  background-color: #202029;
  overflow: hidden;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}
.mobile-menu.neon {
  background-color: #4e0d83;
}
.mobile-menu.green {
  background-color: #475f45;
}
.mobile-menu.active {
  right: 0;
}
.mobile-menu ul {
  margin-top: 100px;
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.mobile-menu ul li {
  margin: 0 10px;
}
.mobile-menu ul li .menui {
  background-color: #333333;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  height: 10%;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.mobile-menu ul li .menui.neon {
  background-color: #FB2576;
}
.mobile-menu ul li .menui.neon:hover {
  background-color: #1b35ca;
}
.mobile-menu ul li .menui.green {
  background-color: #7D8F69;
}
.mobile-menu ul li .menui.green:hover {
  background-color: #A9AF7E;
}
.mobile-menu ul li .menui:hover {
  background-color: #6264a3;
}
.mobile-menu ul li .menuia {
  background-color: #6264a3;
  transition: background-color 0.3s ease-in-out;
}
.mobile-menu ul li .menuia.neon {
  background-color: #1b35ca;
}
.mobile-menu ul li .menuia.neon:hover {
  background-color: #3b6fe0;
}
.mobile-menu ul li .menuia.green {
  background-color: #A9AF7E;
}
.mobile-menu ul li .menuia.green:hover {
  background-color: #E6E5A3;
}
.mobile-menu ul li .menuia:hover {
  background-color: #7376b8;
}
.mobile-menu .msite-colours {
  background-color: #6264a3;
  border-radius: 100%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.mobile-menu .msite-colours.neon {
  background-color: #1b35ca;
}
.mobile-menu .msite-colours.green {
  background-color: #A9AF7E;
}

.cards {
  margin: 0 15px 0 15px;
  max-width: 2000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  grid-auto-rows: auto;
}
.cards * {
  box-sizing: border-box;
}
.cards .card {
  height: 200px;
  width: 380px;
  text-align: center;
  background: #0d0d14;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 10px solid #7376b8;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards .card:hover {
  cursor: pointer;
  position: relative;
  top: -5px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.9450980392);
}
.cards .card.neon {
  background: #1d0035;
  border-bottom: 10px solid #3b6fe0;
}
.cards .card.green {
  background: #2b4229;
  border-bottom: 10px solid #E6E5A3;
}

@media screen and (max-width: 659px) {
  .topb {
    display: none;
  }
  .site-colours {
    display: none;
  }
  .top-bar {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
  }
  .borgir {
    display: block;
  }
  main {
    position: absolute;
    top: 15px;
    margin: 5px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards .card {
    width: 90%;
  }
}
#cookie-banner {
  width: 75%;
  height: 75%;
  z-index: 10000000;
  background-color: #1b1b1b;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: #000000 0 0 10px;
  display: none;
  justify-content: center;
  align-items: center;
}
#cookie-banner #sys {
  width: 128px;
  height: 128px;
}
#cookie-banner .cookie-btn {
  background-color: #5a6470;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#cookie-banner .cookie-btn:hover {
  background-color: #353333;
  color: #5a6470;
}
#cookie-banner #cookie-deny {
  opacity: 0.01;
  background-color: #ffffff;
  color: #000000;
}
#cookie-banner #cookie-deny:hover {
  opacity: 1;
  background-color: #353333;
  color: #5a6470;
}

@media screen and (max-width: 659px) {
  #cookie-banner {
    width: 85%;
    height: 85%;
    flex-direction: column;
    text-align: center;
  }
  .cookie-btn {
    font-size: 16px;
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
