* {
  font-family: monospace;
  color: #ffffff;
}

body {
  background-color: #22272e;
  font-size: 15px;
  margin: 0px;
}

body.neon {
  background-color: #3F0071;
}

body.green {
  background-color: #557153;
}

main {
  position: absolute;
  top: 69px;
  margin: 4px;
}

h1 {
  font-size: 35px;
}

.contacts {
  display: grid;
  grid-template-areas: "gmail id" "youtube channel" "discord server" "github user" "insta tag" "twitter at";
}

.top-bar {
  background-color: #202029;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
  overflow: hidden;
}

.top-bar.neon {
  background-color: #4e0d83;
}

.top-bar.green {
  background-color: #475f45;
}

.topb {
  background-color: #333333;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  width: 202px;
  height: 59px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
}

.topb.neon {
  background-color: #FB2576;
}

.topb.green {
  background-color: #7D8F69;
}

.topb:hover {
  background-color: #6264a3;
}

.topb.neon:hover {
  background-color: #332FD0;
}

.topb.green:hover {
  background-color: #A9AF7E;
}

.topba {
  background-color: #6264a3;
}

.topba.neon {
  background-color: #332FD0;
}

.topba.green {
  background-color: #A9AF7E;
}

.topba:hover {
  background-color: #56588a;
}

.topba.neon:hover {
  background-color: #0002A1;
}

.topba.green:hover {
  background-color: #E6E5A3;
}

.borgir {
  position: relative;
  width: 35px;
  cursor: pointer;
  display: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}

.borgir .bar, .borgir:before, .borgir:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: 0.4s;
}

.borgir.active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.borgir.active .bar {
  opacity: 0;
}

.borgir.active:after {
  transform: rotate(45deg) translate(-8px, -4.5px);
}

.mobile-menu {
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  background-color: #202029;
  transition: 0.4s;
  overflow: hidden;
  z-index: 99;
}

.mobile-menu.neon {
  background-color: #4e0d83;
}

.mobile-menu.green {
  background-color: #475f45;
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu ul {
  list-style-type: none;
  position: relative;
  top: 50px;
  padding: 0;
  margin: 5px;
}

.mobile-menu > ul > li > .menui {
  background-color: #333333;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  width: 60%;
  height: 10% px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
}

.mobile-menu > ul > li > .menui.neon {
  background-color: #FB2576;
}

.mobile-menu > ul > li > .menui.green {
  background-color: #7D8F69;
}

.mobile-menu > ul > li > .menui:hover {
  background-color: #6264a3;
}

.mobile-menu > ul > li > .menui.neon:hover {
  background-color: #332FD0;
}

.mobile-menu > ul > li > .menui.green:hover {
  background-color: #A9AF7E;
}

.mobile-menu > ul > li > .menui.menuia {
  background-color: #6264a3;
}

.mobile-menu > ul > li > .menui.menuia.neon {
  background-color: #332FD0;
}

.mobile-menu > ul > li > .menui.menuia.green {
  background-color: #A9AF7E;
}

.mobile-menu > ul > li > .menui.menuia:hover {
  background-color: #56588a;
}

.mobile-menu > ul > li > .menui.menuia.neon:hover {
  background-color: #0002A1;
}

.mobile-menu > ul > li > .menui.menuia.green:hover {
  background-color: #E6E5A3;
}

.site-colours {
  background-color: #6264a3;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
}

.site-colours.neon {
  background-color: #332FD0;
}

.site-colours.green {
  background-color: #A9AF7E;
}

.msite-colours {
  background-color: #6264a3;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
}

.cards {
  margin: 0 auto 0 15px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding-top: 30px;
}

.cards * {
  box-sizing: border-box;
}

.card {
  height: 150px;
  width: 250px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background: #1b1b1b;
  padding: 20px;
  box-shadow: #000000 0 0 10px;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  position: relative;
  top: -10px;
  box-shadow: #000000 0 0 20px;
}

.msite-colours.neon {
  background-color: #332FD0;
}

.msite-colours.green {
  background-color: #A9AF7E;
}

@media screen and (max-width: 659px) {
  .topb {
    display: none;
  }
  .site-colours {
    display: none;
  }
  .top-bar {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
  }
  .borgir {
    display: block;
  }
  main {
    position: absolute;
    top: 15px;
    margin: 4px;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 659px));
  }
}
#cookie-banner {
  width: 100%;
  height: 100%;
  z-index: 10000000;
  background-color: #1b1b1b;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie-btn {
  background-color: #5a6470;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.cookie-btn:hover {
  background-color: #353333;
  color: #5a6470;
}

@keyframes wave {
  from, to {
    transform: translate(-50%, 0%);
  }
  50% {
    transform: translate(-50%, -20%);
  }
}
#bubble-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  height: max(300px, 30vw);
  width: max(300px, 30vw);
  background-color: #2196f3;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 100%;
  opacity: 0;
  animation: wave 2s ease-in-out infinite;
}

@media (prefers-reduced-motion) {
  .bubble {
    animation: none;
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
