// vars
$bg-color: #22272e;
$top-bg: #202029;
$top-button: #333333;
$top-button-active: #6264a3;
$top-button-ahover: #56588a;
$text-colour: #ffffff;
// neon
$nbg-color: #3F0071;
$ntop-bg: #4e0d83;
$ntop-button: #FB2576;
$ntop-button-active: #332FD0;
$ntop-button-ahover: #0002A1;
// green
$gbg-color: #557153;
$gtop-bg: #475f45;
$gtop-button: #7D8F69;
$gtop-button-active: #A9AF7E;
$gtop-button-ahover: #E6E5A3;

$main-margin: 4px;

// css
* {
  font-family: monospace;
  color: $text-colour;
}

body {
    background-color: $bg-color;
    font-size: 15px;
    margin: 0px;
}

body.neon{
  background-color: $nbg-color;
}

body.green{
  background-color: $gbg-color;
}

main {
  position: absolute;
  top: 69px;
  margin: $main-margin;
}

h1 {
  font-size: 35px;
}

.contacts {
  display: grid;
  grid-template-areas:
  "gmail id"
  "youtube channel"
  "discord server"
  "github user"
  "insta tag";
}

.top-bar {
  background-color: $top-bg;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
  overflow: hidden;
}

.top-bar.neon{
  background-color: $ntop-bg;
}

.top-bar.green{
  background-color: $gtop-bg;
}

.topb {
  background-color: $top-button;
  border-radius: 10px;
  color: $text-colour;
  cursor: pointer;
  font-size: 20px;
  width: 202px;
  height: 59px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
}

.topb.neon{
  background-color: $ntop-button;
}

.topb.green{
  background-color: $gtop-button;
}

.topb:hover {
  background-color: $top-button-active;
}

.topb.neon:hover {
  background-color: $ntop-button-active;
}

.topb.green:hover {
  background-color: $gtop-button-active;
}

.topba {
  background-color: $top-button-active;
}

.topba.neon {
  background-color: $ntop-button-active;
}

.topba.green {
  background-color: $gtop-button-active;
}

.topba:hover {
  background-color: $top-button-ahover;
}

.topba.neon:hover {
  background-color: $ntop-button-ahover;
}

.topba.green:hover {
  background-color: $gtop-button-ahover;
}

.borgir {
  position: relative;
  width: 35px;
  cursor: pointer;
  display: none;

  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}

.borgir .bar, .borgir:before, .borgir:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: $text-colour;
  margin: 5px 0;
  transition: 0.4s;
}

.borgir.active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.borgir.active .bar {
  opacity: 0;
}

.borgir.active:after {
  transform: rotate(45deg) translate(-8px, -4.5px);
}

.mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    background-color: $top-bg;
    transition: 0.4s;
    overflow: hidden;
    z-index: 99;
}

.mobile-menu.neon{
  background-color: $ntop-bg;
}

.mobile-menu.green{
  background-color: $gtop-bg;
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu ul {
  list-style-type: none;
  position: relative;
  top: 50px;
  padding: 0;
  margin: 5px;
}

.mobile-menu>ul>li>.menui {
  background-color: $top-button;
  border-radius: 10px;
  color: $text-colour;
  cursor: pointer;
  font-size: 20px;
  width: 60%;
  height: 10%px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
}

.mobile-menu>ul>li>.menui.neon {
  background-color: $ntop-button;
}

.mobile-menu>ul>li>.menui.green {
  background-color: $gtop-button;
}

.mobile-menu>ul>li>.menui:hover {
  background-color: $top-button-active;
}

.mobile-menu>ul>li>.menui.neon:hover {
  background-color: $ntop-button-active;
}

.mobile-menu>ul>li>.menui.green:hover {
  background-color: $gtop-button-active;
}

.mobile-menu>ul>li>.menui.menuia {
  background-color: $top-button-active;
}

.mobile-menu>ul>li>.menui.menuia.neon {
  background-color: $ntop-button-active;
}

.mobile-menu>ul>li>.menui.menuia.green {
  background-color: $gtop-button-active;
}

.mobile-menu>ul>li>.menui.menuia:hover {
  background-color: $top-button-ahover;
}

.mobile-menu>ul>li>.menui.menuia.neon:hover {
  background-color: $ntop-button-ahover;
}

.mobile-menu>ul>li>.menui.menuia.green:hover {
  background-color: $gtop-button-ahover;
}

.site-colours{
  background-color: $top-button-active;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
}

.site-colours.neon{
  background-color: $ntop-button-active;
}

.site-colours.green{
  background-color: $gtop-button-active;
}

.msite-colours{
  background-color: $top-button-active;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: none;
}

.cards {
  margin: 0 auto 0 15px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding-top: 30px;
}

.cards * {
  box-sizing: border-box;
}

.card{
  height: 150px;
  width: 250px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background: #1b1b1b;
  padding: 20px;
  box-shadow: #000000 0 0 10px;
  border-radius: 10px;
}

.card:hover{
  cursor: pointer;
  position: relative;
  top: -10px;
  box-shadow: #000000 0 0 20px;
}

.msite-colours.neon{
  background-color: $ntop-button-active;
}

.msite-colours.green{
  background-color: $gtop-button-active;
}

// responsive
@media screen and (max-width: 659px) {
  .topb {
    display: none;
  }
  .site-colours{
    display: none;
  }
  // unhide top bar
  .top-bar {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
  }
  // borgir
  .borgir {
    display: block;
  }
  main {
    position: absolute;
    top: 15px;
    margin: $main-margin;
  }
  .cards{
    grid-template-columns: repeat(auto-fit, minmax(200px, 659px));
  }
}

#cookie-banner{
  width: 100%;
  height: 100%;
  z-index: 10000000;
  background-color: #1b1b1b;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie-btn{
  background-color: #5a6470;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.cookie-btn:hover{
  background-color: #353333;
  color: #5a6470;
}

// bubble

@keyframes wave {
  from, to {
    transform: translate(-50%, 0%);
  }
  
  50% {
    transform: translate(-50%, -20%);
  }
}

#bubble-wrapper {
  height: 100%;
  width: 100%;
  
  position: fixed;
  bottom: 0px;
  
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  height: max(300px, 30vw);
  width: max(300px, 30vw);
  
  background-color: #2196f3;  
  border-radius: 100%;
  
  position: absolute;
  left: 50%;
  top: 100%;

  opacity: 0;
  
  animation: wave 2s ease-in-out infinite;
}

@media(prefers-reduced-motion) {
  .bubble {
    animation: none;
    display: none;
  }
}