body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 1.963190184%;
  left: 55.1724137931%;
  font-size: 15px;
  filter: blur(0.02px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(2) {
  top: 90.1818181818%;
  left: 59.512195122%;
  font-size: 25px;
  filter: blur(0.04px);
  animation: 35s float2 infinite;
}
.particle:nth-child(3) {
  top: 11.6363636364%;
  left: 74.1463414634%;
  font-size: 25px;
  filter: blur(0.06px);
  animation: 25s float infinite;
}
.particle:nth-child(4) {
  top: 8.8343558282%;
  left: 9.8522167488%;
  font-size: 15px;
  filter: blur(0.08px);
  animation: 33s float2 infinite;
}
.particle:nth-child(5) {
  top: 94.8004836759%;
  left: 92.5024342746%;
  font-size: 27px;
  filter: blur(0.1px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(6) {
  top: 94.0024479804%;
  left: 85.5457227139%;
  font-size: 17px;
  filter: blur(0.12px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(7) {
  top: 34.7406513872%;
  left: 16.5208940719%;
  font-size: 29px;
  filter: blur(0.14px);
  animation: 34s float infinite;
}
.particle:nth-child(8) {
  top: 2.8915662651%;
  left: 44.6601941748%;
  font-size: 30px;
  filter: blur(0.16px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(9) {
  top: 30.5043050431%;
  left: 13.8203356367%;
  font-size: 13px;
  filter: blur(0.18px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(10) {
  top: 48.7210718636%;
  left: 7.8354554358%;
  font-size: 21px;
  filter: blur(0.2px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(11) {
  top: 65.7668711656%;
  left: 33.4975369458%;
  font-size: 15px;
  filter: blur(0.22px);
  animation: 27s float infinite;
}
.particle:nth-child(12) {
  top: 95.652173913%;
  left: 29.1828793774%;
  font-size: 28px;
  filter: blur(0.24px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(13) {
  top: 41.2776412776%;
  left: 17.7514792899%;
  font-size: 14px;
  filter: blur(0.26px);
  animation: 21s float infinite;
}
.particle:nth-child(14) {
  top: 66.9902912621%;
  left: 19.53125%;
  font-size: 24px;
  filter: blur(0.28px);
  animation: 37s float infinite;
}
.particle:nth-child(15) {
  top: 31.067961165%;
  left: 83.984375%;
  font-size: 24px;
  filter: blur(0.3px);
  animation: 26s float2 infinite;
}
.particle:nth-child(16) {
  top: 55.205811138%;
  left: 20.4678362573%;
  font-size: 26px;
  filter: blur(0.32px);
  animation: 30s float2 infinite;
}
.particle:nth-child(17) {
  top: 55.1390568319%;
  left: 90.5550146056%;
  font-size: 27px;
  filter: blur(0.34px);
  animation: 30s float2 infinite;
}
.particle:nth-child(18) {
  top: 86.4864864865%;
  left: 7.8895463511%;
  font-size: 14px;
  filter: blur(0.36px);
  animation: 28s float2 infinite;
}
.particle:nth-child(19) {
  top: 66.4224664225%;
  left: 36.310107949%;
  font-size: 19px;
  filter: blur(0.38px);
  animation: 30s float infinite;
}
.particle:nth-child(20) {
  top: 87.2549019608%;
  left: 14.7637795276%;
  font-size: 16px;
  filter: blur(0.4px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(21) {
  top: 47.8048780488%;
  left: 84.3137254902%;
  font-size: 20px;
  filter: blur(0.42px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(22) {
  top: 6.8292682927%;
  left: 97.0588235294%;
  font-size: 20px;
  filter: blur(0.44px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(23) {
  top: 37.4845869297%;
  left: 66.2710187933%;
  font-size: 11px;
  filter: blur(0.46px);
  animation: 37s float2 infinite;
}
.particle:nth-child(24) {
  top: 34.6987951807%;
  left: 6.7961165049%;
  font-size: 30px;
  filter: blur(0.48px);
  animation: 26s float2 infinite;
}
.particle:nth-child(25) {
  top: 44.8780487805%;
  left: 46.0784313725%;
  font-size: 20px;
  filter: blur(0.5px);
  animation: 40s float infinite;
}
.particle:nth-child(26) {
  top: 46.3208685163%;
  left: 76.7735665695%;
  font-size: 29px;
  filter: blur(0.52px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(27) {
  top: 21.5422276622%;
  left: 86.529006883%;
  font-size: 17px;
  filter: blur(0.54px);
  animation: 39s floatReverse2 infinite;
}
.particle:nth-child(28) {
  top: 2.9055690073%;
  left: 80.8966861598%;
  font-size: 26px;
  filter: blur(0.56px);
  animation: 36s float infinite;
}
.particle:nth-child(29) {
  top: 95.8837772397%;
  left: 6.8226120858%;
  font-size: 26px;
  filter: blur(0.58px);
  animation: 27s float infinite;
}
.particle:nth-child(30) {
  top: 85.1269649335%;
  left: 92.5024342746%;
  font-size: 27px;
  filter: blur(0.6px);
  animation: 33s float infinite;
}
.particle:nth-child(31) {
  top: 63.8036809816%;
  left: 31.5270935961%;
  font-size: 15px;
  filter: blur(0.62px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(32) {
  top: 23.645320197%;
  left: 35.5731225296%;
  font-size: 12px;
  filter: blur(0.64px);
  animation: 21s floatReverse infinite;
}
.particle:nth-child(33) {
  top: 69.4813027744%;
  left: 92.3226433431%;
  font-size: 29px;
  filter: blur(0.66px);
  animation: 40s float infinite;
}
.particle:nth-child(34) {
  top: 40.1960784314%;
  left: 46.2598425197%;
  font-size: 16px;
  filter: blur(0.68px);
  animation: 27s float2 infinite;
}
.particle:nth-child(35) {
  top: 54.7008547009%;
  left: 96.1727183513%;
  font-size: 19px;
  filter: blur(0.7px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(36) {
  top: 57.5609756098%;
  left: 60.7843137255%;
  font-size: 20px;
  filter: blur(0.72px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(37) {
  top: 82.2249093108%;
  left: 69.1333982473%;
  font-size: 27px;
  filter: blur(0.74px);
  animation: 27s float2 infinite;
}
.particle:nth-child(38) {
  top: 79.0243902439%;
  left: 83.3333333333%;
  font-size: 20px;
  filter: blur(0.76px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(39) {
  top: 76.7922235723%;
  left: 28.3479960899%;
  font-size: 23px;
  filter: blur(0.78px);
  animation: 22s float2 infinite;
}
.particle:nth-child(40) {
  top: 92.9782082324%;
  left: 88.693957115%;
  font-size: 26px;
  filter: blur(0.8px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(41) {
  top: 39.263803681%;
  left: 32.5123152709%;
  font-size: 15px;
  filter: blur(0.82px);
  animation: 29s float2 infinite;
}
.particle:nth-child(42) {
  top: 9.8159509202%;
  left: 22.6600985222%;
  font-size: 15px;
  filter: blur(0.84px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(43) {
  top: 91.8192918193%;
  left: 27.4779195289%;
  font-size: 19px;
  filter: blur(0.86px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(44) {
  top: 81.0615199035%;
  left: 69.970845481%;
  font-size: 29px;
  filter: blur(0.88px);
  animation: 25s float2 infinite;
}
.particle:nth-child(45) {
  top: 51.3317191283%;
  left: 92.5925925926%;
  font-size: 26px;
  filter: blur(0.9px);
  animation: 25s float2 infinite;
}
.particle:nth-child(46) {
  top: 27.2174969623%;
  left: 44.9657869013%;
  font-size: 23px;
  filter: blur(0.92px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(47) {
  top: 36.6706875754%;
  left: 84.5481049563%;
  font-size: 29px;
  filter: blur(0.94px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(48) {
  top: 93.4306569343%;
  left: 67.5146771037%;
  font-size: 22px;
  filter: blur(0.96px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(49) {
  top: 5.8751529988%;
  left: 76.6961651917%;
  font-size: 17px;
  filter: blur(0.98px);
  animation: 34s float2 infinite;
}
.particle:nth-child(50) {
  top: 77.8325123153%;
  left: 88.9328063241%;
  font-size: 12px;
  filter: blur(1px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(51) {
  top: 51.2315270936%;
  left: 16.7984189723%;
  font-size: 12px;
  filter: blur(1.02px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(52) {
  top: 30.0970873786%;
  left: 10.7421875%;
  font-size: 24px;
  filter: blur(1.04px);
  animation: 28s float2 infinite;
}
.particle:nth-child(53) {
  top: 5.8823529412%;
  left: 23.6220472441%;
  font-size: 16px;
  filter: blur(1.06px);
  animation: 38s float infinite;
}
.particle:nth-child(54) {
  top: 7.7858880779%;
  left: 25.4403131115%;
  font-size: 22px;
  filter: blur(1.08px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(55) {
  top: 37.4384236453%;
  left: 92.8853754941%;
  font-size: 12px;
  filter: blur(1.1px);
  animation: 31s floatReverse infinite;
}
.particle:nth-child(56) {
  top: 73.4394124847%;
  left: 53.0973451327%;
  font-size: 17px;
  filter: blur(1.12px);
  animation: 24s float infinite;
}
.particle:nth-child(57) {
  top: 82.5242718447%;
  left: 66.40625%;
  font-size: 24px;
  filter: blur(1.14px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(58) {
  top: 45.0980392157%;
  left: 3.937007874%;
  font-size: 16px;
  filter: blur(1.16px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(59) {
  top: 59.2233009709%;
  left: 27.34375%;
  font-size: 24px;
  filter: blur(1.18px);
  animation: 29s float infinite;
}
.particle:nth-child(60) {
  top: 85.4368932039%;
  left: 97.65625%;
  font-size: 24px;
  filter: blur(1.2px);
  animation: 30s float infinite;
}
.particle:nth-child(61) {
  top: 17.5824175824%;
  left: 51.0304219823%;
  font-size: 19px;
  filter: blur(1.22px);
  animation: 40s float infinite;
}
.particle:nth-child(62) {
  top: 95.145631068%;
  left: 30.2734375%;
  font-size: 24px;
  filter: blur(1.24px);
  animation: 23s float2 infinite;
}
.particle:nth-child(63) {
  top: 20.4379562044%;
  left: 50.8806262231%;
  font-size: 22px;
  filter: blur(1.26px);
  animation: 24s float infinite;
}
.particle:nth-child(64) {
  top: 51.9607843137%;
  left: 74.8031496063%;
  font-size: 16px;
  filter: blur(1.28px);
  animation: 27s floatReverse2 infinite;
}
.particle:nth-child(65) {
  top: 24.2130750605%;
  left: 41.910331384%;
  font-size: 26px;
  filter: blur(1.3px);
  animation: 36s float2 infinite;
}
.particle:nth-child(66) {
  top: 54.7008547009%;
  left: 62.806673209%;
  font-size: 19px;
  filter: blur(1.32px);
  animation: 31s floatReverse infinite;
}
.particle:nth-child(67) {
  top: 26.4705882353%;
  left: 98.4251968504%;
  font-size: 16px;
  filter: blur(1.34px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(68) {
  top: 59.0405904059%;
  left: 54.2941757157%;
  font-size: 13px;
  filter: blur(1.36px);
  animation: 23s float2 infinite;
}
.particle:nth-child(69) {
  top: 41.4457831325%;
  left: 13.5922330097%;
  font-size: 30px;
  filter: blur(1.38px);
  animation: 38s float2 infinite;
}
.particle:nth-child(70) {
  top: 90.0726392252%;
  left: 27.2904483431%;
  font-size: 26px;
  filter: blur(1.4px);
  animation: 21s floatReverse infinite;
}
.particle:nth-child(71) {
  top: 81.472392638%;
  left: 23.645320197%;
  font-size: 15px;
  filter: blur(1.42px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(72) {
  top: 86.1985472155%;
  left: 19.4931773879%;
  font-size: 26px;
  filter: blur(1.44px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(73) {
  top: 49.156626506%;
  left: 31.067961165%;
  font-size: 30px;
  filter: blur(1.46px);
  animation: 27s float infinite;
}
.particle:nth-child(74) {
  top: 0.9720534629%;
  left: 30.303030303%;
  font-size: 23px;
  filter: blur(1.48px);
  animation: 23s float2 infinite;
}
.particle:nth-child(75) {
  top: 77.9537149817%;
  left: 69.5396669931%;
  font-size: 21px;
  filter: blur(1.5px);
  animation: 35s float infinite;
}
.particle:nth-child(76) {
  top: 35.7056694813%;
  left: 11.6618075802%;
  font-size: 29px;
  filter: blur(1.52px);
  animation: 31s float2 infinite;
}
.particle:nth-child(77) {
  top: 88.3435582822%;
  left: 7.881773399%;
  font-size: 15px;
  filter: blur(1.54px);
  animation: 40s float2 infinite;
}
.particle:nth-child(78) {
  top: 62.5152625153%;
  left: 17.66437684%;
  font-size: 19px;
  filter: blur(1.56px);
  animation: 22s float2 infinite;
}
.particle:nth-child(79) {
  top: 25.2121212121%;
  left: 65.3658536585%;
  font-size: 25px;
  filter: blur(1.58px);
  animation: 27s floatReverse2 infinite;
}
.particle:nth-child(80) {
  top: 49.6954933009%;
  left: 51.9098922625%;
  font-size: 21px;
  filter: blur(1.6px);
  animation: 22s floatReverse2 infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}