@font-face {
    font-family: "IBM Model3x Alt4";
    src: url(fonts/Web437_IBM_Model3x_Alt4.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "IBM Model3x Alt4", monospace;
}

body {
    padding: 25px;
    background-color: #b3cfcf;
    color: #000000;
    font-size: 25px;
}
.dark-mode {
    background-color: #292929;
    color: white;
}

hr {
    border: 1px solid #000;
}

#discord {
    fill: #5865F2
}
#github {
    fill: #181717
}
ul#socials{
    list-style: none;
    margin: 0 0 0 0;
}
a:link {
    color: #727272;
    text-decoration: none;
}
a:visited {
    color: #727272;
    text-decoration: none;
}
a:hover {
    color: #2088FF;
    text-decoration: underline #2088FF;
}

#youtube {
    fill: #FF0000;
}

footer p span a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

small.footnote{
    color: #277e4b;
}

small.footnote a {
    color: #0f6433;
}

small.footnote a:hover {
    color: cornflowerblue;
}

.prj {
    background-color: cornflowerblue;
    height: auto;
    width: 20%;
    list-style: none;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.back {
    background-color: cornflowerblue;
    height: auto;
    width: 6%;
    border-radius: 10px;
    text-align: center;
    padding: 5px; 
    font-size: 20px;
}

.bbutton:link {
    color: #181717;
    text-decoration: none;
}

.bbutton:visited {
    color: #181717;
    text-decoration: none;
}

.bbutton:hover {
    color: #52525c;
    text-decoration: underline;
}

@media screen and (max-width: 1024px){
    .back {
        width: 10%;
    }
}

@media screen and (max-width: 768px){
    .prj {
        width: 45%;
    }
}

@media screen and (max-width: 425px){
    p.socials {
        display: none;
    }
    html {
        font-size: 1.5em;
    }
    .prj {
        width: 75%;    
    }
    .back {
        width: 20%;
    }
}

@media screen and (max-width: 320px){
    .back {
        width: 24%;
    }
}